<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Acerca de</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/img/events-app.png" alt="ionic logo">
  </div>
  <div padding class="about-info">
    <h4>Events App</h4>

    <p style="text-align:justify; font-size:2rem;">
      Una app social que te ayudará a ver qué eventos o fiestas se celebran a tu alrededor indicando la ubicación
      de los locales o discotecas a través del geoposicionamiento, además podrás ver cuál es la mejor alternativa
      que se ajusta a tu plan de actividades en el momento preciso en el que necesitas disponer de esta información.
      Sabrás de antemano dónde están tus amigos y podrás avisarles cuando cambies de lugar para que la fiesta no pare.
    </p>
  </div>
</ion-content>
