<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
  <ion-tab [root]="tab1Root" tabTitle="Eventos" tabIcon="calendar" tabUrlPath="conference-schedule"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Lugares" tabIcon="compass"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Mapa" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Acerca de" tabIcon="information-circle"></ion-tab>
</ion-tabs>
