<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
      Filtro de Eventos
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="applyFilters()" strong>Hecho</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

  <ion-list>
    <ion-list-header>Tags</ion-list-header>

    <ion-item *ngFor="let track of tracks" [attr.track]="track.name | lowercase">
      <span item-start class="dot"></span>
      <ion-label>{{track.name}}</ion-label>
      <ion-toggle [(ngModel)]="track.isChecked" color="secondary"></ion-toggle>
    </ion-item>

  </ion-list>

  <ion-list>
    <button ion-item (click)="resetFilters()" detail-none class="reset-filters">
      Resetear los filtros
    </button>
  </ion-list>

</ion-content>
