<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mapa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="map-page">
  <div style="height: 100%; width: 100%" #mapCanvas id="map_canvas"></div>
  <ion-fab right top>
    <button ion-fab (tap)="ionViewDidLoad()">
      <ion-icon name="compass"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
