<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">
        Bienvenido a <b>Events App</b>
      </h2>
      <p>
        <b>Events app</b> una aplicación creada por AORA Apps.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image"/>
      <h2 class="slide-title" >Que es Events App?</h2>
      <p><b>Events App</b> es una aplicación que te ayudará a ver qué eventos o fiestas se celebran a tu alrededor indicando la ubicación de los locales o discotecas a través del geoposicionamiento.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-3.png" class="slide-image"/>
      <h2 class="slide-title">Que es AORA Apps?</h2>
      <p>Somos una empresa que se dedica a desarrollar aplicaciones de calidad para dispositivos móviles con el objetivo de que puedan atender las necesidades de los usuarios</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title">Estas Listo?</h2>
      <button ion-button icon-end large clear (click)="startApp()">
        Continuar
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
