$categories: (
 cultural: color($colors, primary),
 deportivo: #AC282B,
 moda: #8E8D93,
 artístico: #FE4C52,
 político: #FD8B2D,
 educativo: #FED035,
 religión: #69BB7B,
 informática: #3BC7C4,
 ocio: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
