<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cuenta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div padding-top text-center *ngIf="username">
    <img src="http://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>{{username}}</h2>

    <ion-list inset>
      <button ion-item (click)="updatePicture()">Cambiar Foto de Perfil</button>
      <button ion-item (click)="changeUsername()">Cambiar Nombre de Usuario</button>
      <button ion-item (click)="changePassword()">Cambiar Contraseña</button>
      <button ion-item (click)="support()">Soporte</button>
      <button ion-item (click)="logout()">Cerrar Sesión</button>
    </ion-list>
  </div>
</ion-content>
